<a href="https://colab.research.google.com/github/thegreatali27/Data-Science-Class/blob/main/(490751)_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
print("Hello World")

Hello World

In [8]:
print("My name is Syed Muhammad Ali and I'm 29 years old")

My name is Syed Muhammad Ali and I'm 29 years old

In [11]:
print(1,2,3,4,5, sep=("-"))

1-2-3-4-5

In [12]:
print(1,2,3,4,5, sep=("|"))

1|2|3|4|5

In [13]:
print(1,2,3,4,5, sep=(","))

1,2,3,4,5

In [14]:
print(1,2,3,4,5, sep=("-"))
print(1,2,3,4,5, sep=("|"))
print(1,2,3,4,5, sep=(","))

1-2-3-4-5
1|2|3|4|5
1,2,3,4,5

In [30]:
print("Hello World!", end="\n")
print("I am learning Python")

Hello World!
I am learning Python

In [31]:
print("*")
print("* *")
print("* * *")
print("* * * *")

*
* *
* * *
* * * *

In [32]:
print("*", sep=" ")
print("* *",  sep=" ")
print("* * *",  sep=" ")
print("* * * *",  sep=" ")

*
* *
* * *
* * * *

In [40]:
print("My name is", "Syed Muhammad Ali" ", I am", 29, "years old", "and I live in Karachi", end=".")

My name is Syed Muhammad Ali, I am 29 years old and I live in Karachi.

In [51]:
print("a = 10")
print("b = 20")

a = 10
b = 20

In [58]:
a = 10
b = 20

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b)

Sum: 30
Difference: -10
Product: 200
Division: 0.5

In [60]:
a = 15
b = 25

print("Sum:", a + b)
print("Difference:", a - b)
print("Product:", a * b)
print("Division:", a / b)

Sum: 40
Difference: -10
Product: 375
Division: 0.6

In [65]:
pi = 3.14159
r = 5

area = pi * (r ** 2)
print("Area of the circle is:", area)

Area of the circle is: 78.53975

In [69]:
a = 15
b = 25

print("Before swapping: a =", a, "b =", b)

a, b = b, a

print("After swapping: a =", a, "b =", b)

Before swapping: a = 15 b = 25
After swapping: a = 25 b = 15